<div class="container ">
  <div class="row justify-content-md-center mb-4">
    <button type="button" class="col col-lg-2 btn btn-dark btn-lg text-center rounded-circle" (click)="backMonth(actualMonthNumber,actualYear)"><img class="img-responsive" src="assets/icons/derecha.svg"  width="60" height="60" alt=""></button>
    <h4 class="text-center display-4 mb-4 col-lg-5 px-5">{{actualMonth}} {{actualYear}}</h4>
    <button type="button" class="col col-lg-2 btn btn-dark text-center rounded-circle"  (click)="nextMonth(actualMonthNumber,actualYear)"><img class="img-responsive" src="assets/icons/izquierda.svg"  width="60" height="60" alt=""></button>
  </div>
</div>

<div class="container position-static">
    <header>
      <div class="row bg-dark text-white">
        <h5 class="col-sm-1 order-1">Lun</h5>
        <h5 class="col-sm-1 order-2">Mar</h5>
        <h5 class="col-sm-1 order-3">Mie</h5>
        <h5 class="col-sm-1 order-4">Jue</h5>
        <h5 class="col-sm-1 order-5">Vie</h5>
        <h5 class="col-sm-1 order-6">Sab</h5>
        <h5 class="col-sm-1 order-7">Dom</h5>
        <h5 class="col-sm-5 order-8 text-center">Resumen Dia</h5>
         <div class="w-100"></div>
      </div>
    </header>
    <div>

    <div class='row border border-right-0 border-bottom-0'>
      <div class="col-lg-7 border-right-0 border-bottom-0">
        <div class="row">
          <div  *ngFor="let a of days; let index = index"
          (click)="seeDay(a)"
          [ngClass]="{'w-100' : index%8 == 0, 
          'card col' : index%8!=0, 
          'bg-info' : a.toDelete == true,
          'bg-primary' : a.holidays==true, 
          'bg-danger' : a.taken==true,
          'bg-dark text-white' : a.weekEnd==true,
          'bg-secondary' : a.free==true}" 
          style="width: 12rem;">
              <div *ngIf="index%8!=0">
                <div>
                  <h5 class="card-title text-center" [ngClass]="{' border rounded-circle border-success' : a.actual==true}">{{a.dayActual}}</h5>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col">
        <table class="table table-dark" *ngIf="dayToSee.reunions.length != 0">
          <thead>
            <tr>
              <th scope="col">Hora</th>
              <th scope="col">Evento</th>
              <th scope="col">Equipo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reunion of dayToSee.reunions">
              <th scope="row">{{reunion.hours}}</th>
              <td>Reunion</td>
              <td>{{reunion.team.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>  
     </div>
</div>
</div>

