<div class="container">
    <div class=" row">
      <div class=" = col">  <h2>Reuniones</h2>    </div>
      <div class=" = col-lg-2">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/principal/reunionAdd">
          Crear Reunion
        </button>
      </div>
    </div>
    <hr>
  
    <div class=row>
    <div class="card col-lg-auto m-2" style="width: 18rem;" *ngFor="let reunion of reunions">
      <div class="card-body container">
        <div class="row">
          <div class="col"><h5 class="card-title mb-4">{{reunion.days}} a las {{reunion.hours}}</h5>
          </div>
          <div class="col col-lg-3">
            <button type="button" (click)="deleteReunion(reunion)" class="btn btn-outline-danger">
              <img class="img-responsive" src="assets/icons/no.png"  width="30" height="30" alt="">
            </button>
          </div>
        </div>
  
        <h6 class="card-subtitle mb-2 text-muted">Creador: {{reunion.creator.username}}</h6>
        <h6 class="card-subtitle mb-2 mt-2 text-muted">Reunion: {{reunion.team.name}}</h6>
        <p class="card-text">{{reunion.description}}</p>
        <hr>   
        <h6 class="text-primary" *ngIf="reunion.assistant.length != 0">Asistentes</h6>
        <ul class="list-group list-group-flush " *ngIf="reunion.assistant.length != 0">
          <li class="list-group-item" *ngFor="let user of reunion.assistant">{{user.username}}</li>
        </ul>
        <div class="d-flex justify-content-center">
          <button *ngIf="usersToAdd.length == 0 && reunion.creator.username==loggedUser.username" type="button" (click)="addAssistants(reunion.reunionId)" class="btn btn-outline-primary">Invitar</button>
        </div>

        <ul class="list-group mt-4" *ngIf="usersToAdd.length != 0 && currentReunion == reunion.reunionId">
          <li class="list-group-item active">Usuarios a invitar</li>
          <li class="list-group-item" *ngFor="let username of usersToAdd" >{{username}}</li>
        </ul>

        <div class="d-flex justify-content-center mt-2" *ngIf="usersToAdd.length != 0 && currentReunion == reunion.reunionId">
          <button type="button" (click)="addAssistantsBd(reunion)" class="btn btn-success">Invitar</button>
        </div>

        <hr>
        <div class="list-group mt-2" *ngIf="search == true && currentReunion == reunion.reunionId">
          <form class="form d-flex justify-content-center" (ngSubmit)="onSearchSubmit()">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar Usuario" aria-label="Search" [(ngModel)]="form.nameUser" #nameUser="ngModel" name="nameUser" class="form-control">
            <button class="btn btn-outline-success mt-1 my-2 my-sm-0" type="submit">Search</button>
          </form>
          <ul class="mt-3 mr-5">
            <li class="list-group-item" *ngFor="let user of userA" >
              <div *ngIf="user.username != loggedUser.username">
                <div class="text-center">{{user.username}}</div>
                <button class="btn btn-outline-success col" (click)="addUser(user)">Invitar</button>
              </div>
            </li>
          </ul>
        </div>
    </div>
    </div>
  </div>