<h2 class="titleWhite mb-5">Vacaciones</h2>

<div class="container card-tmp">
  <div class="row justify-content-md-center mb-4">
    <button type="button" class="col col-lg-2 btn text-center transparent" (click)="backMonth(actualMonthNumber,actualYear)"><img class="img-responsive" src="assets/icons/left.png"  width="60" height="60" alt=""></button>
    <h4 class="text-center display-4 mb-4 col-lg-5 px-5">{{actualMonth}} {{actualYear}}</h4>
    <button type="button" class="col col-lg-2 btn text-center transparent"  (click)="nextMonth(actualMonthNumber,actualYear)"><img class="img-responsive" src="assets/icons/right.png"  width="60" height="60" alt=""></button>
  </div>
  <div class="row">
      <h5 class="col-3">Vacaciones restantes:</h5>
      <h5 class="col-1 bg-tmp rounded text-white text-center" [ngClass]="{'bg-danger' : !(user.availableFreeDays > 0)}">{{user.availableFreeDays}} dias</h5>
      <div class="col-6"></div>
</div>

<div class="container">
<div>
<header>
      <div class="row bg-dark text-white rounded">
        <h5 class="col text-center">Lunes</h5>
        <h5 class="col text-center">Martes</h5>
        <h5 class="col text-center">Miercoles</h5>
        <h5 class="col text-center">Jueves</h5>
        <h5 class="col text-center">Viernes</h5>
        <h5 class="col text-center">Sabado</h5>
        <h5 class="col text-center">Domingo</h5>
         <div class="w-100"></div>
      </div>
    </header>
    <div class="row border rounded">
      <div  *ngFor="let a of days; let index = index" 
      [ngClass]="{'w-100' : index%8==0, 
      'card col' : index%8!=0, 
      'bg-hover' : a.toDelete == true,
      'bg-used' : isPassDay(a.date),
      'bg-info' : a.holidays==true, 
      'bg-danger' : a.taken==true,
      'bg-dark text-white' : a.weekEnd==true,
      'bg-success text-light' : isToday(a.date),
      'bg-secondary' : a.free==true}" 
      (click)="onSave(a)" 
      style="width: 12rem;">
          <div *ngIf="index%8!=0">
            <div class="card-body">
              <h5 class="card-title text-center">{{a.dayActual}}</h5>
            </div>
          </div>
        </div>  
  </div>
</div>
</div>
</div>
<h2 class="titleWhite mb-5 mt-4">Gestion de vacaciones selecionadas</h2>   
<div class="card-tmp">
  <div class="row">
    <ul class="list-group col">
      <li class="list-group-item bg-dark text-white text-center"><h5>Vacaciones a pedir</h5></li>
      <li *ngFor="let a of holidaysToAdd;" class="list-group-item border">{{a.date}}</li>
    </ul>
    <ul class="list-group col">
      <li class="list-group-item bg-dark text-white border text-center"><h5>Vacaciones a borrar</h5></li>
      <li *ngFor="let a of holidaysToDelete;" class="list-group-item">{{a.date}}</li>
    </ul>
  </div>
  <div class="m-5" style="text-align: center;">
    <button type="button" class="btn btnTmp btn-lg text-center" style="padding-left: 20px;padding-right: 20px;" (click)="persistChanges()">Actualizar vacaciones</button>
  </div>
</div>

